<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новый пароль</title>
</head>
<body>
    <h1>Здравствуйте, {{ user.first_name }}!</h1>
    <p>Ваш email был указан для восстановления пароля в приложении "Duo Schedule".</p>
    <p>Если это не вы, то проигнорируйте это письмо.</p>
    <p>В противном случае, вот ваш новый пароль для входа в аккаунт:</p>
    <h2 style="color: #4CAF50;">{{ new_password }}</h2>
    <p>Пожалуйста, измените его после первого входа в систему.</p>
    <p>С уважением,<br>Команда поддержки Duo Schedule.</p>
</body>
