{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header">
                <h3 class="card-title">{% if not object %}Создать смену{% else %}Изменить смену{% endif %}</h3>
            </div>
            <div class="card-body">
                <div class="form-group mb-3">
                    <label for="schedule">Выберите график:</label>
                    <select name="schedule" id="schedule" class="form-control w-100" required>
                        {% for schedule in schedules %}
                        <option value="{{ schedule.id }}" {% if schedule.id == object.schedule.id %}selected{% endif %}>
                            {{ schedule.date.year }} {{ schedule.date|date:"F" }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="date">Дата:</label>
                    <input type="date" name="date" id="date" class="form-control w-100" required
                           value="{{ object.date|date:'Y-m-d' }}">
                </div>
                <h5>Тип смены и количество сотрудников:</h5>
                <div class="shift-options">
                    <div class="form-group mb-3">
                        <label for="morning_needed">Утро:</label>
                        <input type="number" name="morning_needed" id="morning_needed" class="form-control w-100"
                               min="0" required value="{{ form.morning_needed.value }}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="day_needed">День:</label>
                        <input type="number" name="day_needed" id="day_needed" class="form-control w-100" min="0"
                               required value="{{ form.day_needed.value }}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="night_needed">Ночь:</label>
                        <input type="number" name="night_needed" id="night_needed" class="form-control w-100" min="0"
                               required value="{{ form.night_needed.value }}">
                    </div>
                </div>

                {% for error in form.non_field_errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="card-footer d-flex justify-content-end">
                {% if not object %}
                <button type="submit" class="btn w-100 me-1"
                        style="background-image: linear-gradient(to right, #9b59b6, #2980b9);">
                    Создать
                </button>
                <a class="btn btn-secondary w-100" href="{% url 'schedule:shift-list' %}"
                   role="button">Назад</a>
                {% else %}
                <button type="submit" class="btn w-100 me-1"
                        style="background-image: linear-gradient(to right, #9b59b6, #2980b9);">
                    Изменить
                </button>
                <a class="btn btn-secondary w-100" href="{% url 'schedule:shift-detail' shift.pk %}"
                   role="button">Назад</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}