{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center pt-5">
        <div class="col-md-5">
            <div class="pt-5"></div>
            <div class="card shadow-sm mb-5">
                <div class="card-body">
                    <p class="card-text" style="color:purple;"><strong>{{ employeewish.employee.last_name }} {{employeewish.employee.first_name}}</strong></p>
                    {% with date=employeewish.date %}
                    <p class="card-text">{{ date|date:"l, j F Y" }}</p>
                    {% endwith %}
                    {% if employeewish.shift_preference == 'morning' %}
                    <p class="text-primary"><strong> {{ employeewish.get_shift_preference_display }} </strong></p>
                    {% elif employeewish.shift_preference == 'day' %}
                    <p class="text-secondary"><strong>{{ employeewish.get_shift_preference_display }} </strong></p>
                    {% elif employeewish.shift_preference == 'night' %}
                    <p class="text-warning"><strong>{{ employeewish.get_shift_preference_display }} </strong></p>
                    {% else %}
                    <p class="card-text"><strong>{{ employeewish.get_shift_preference_display }} </strong></p>
                    {% endif %}
                    {% if employeewish.comment %}
                    <p class="card-text">Комментарий: {{ employeewish.comment }}</p>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'schedule:wish-update' object.pk %}"
                               class="btn btn-sm btn-light rounded me-1">Редактировать</a>
                            <a href="{% url 'schedule:wish-delete' object.pk %}"
                               class="btn btn-sm btn-danger rounded me-1">Удалить</a>
                            <a href="{% url 'schedule:wish-list' %}"
                               class="btn btn-sm btn-secondary rounded me-1">Назад</a>
                        </div>
                        <small class="text-body-secondary">{{ employeewish.created_at }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}