{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-light mb-4">
                <div class="card-header bg-light text-black">
                    <h3>Профиль пользователя</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <p><strong>Имя:</strong> {{ user.first_name }}</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <p><strong>Email:</strong> {{ user.email }}</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                {% if user.phone %}
                                <div class="col-md-12">
                                    <p><strong>Телефон:</strong> {{ user.phone }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                {% if user.job_title %}
                                <div class="col-md-12">
                                    <p><strong>Должность:</strong> {{ user.job_title }}</p>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row mb-3">
                                {% if user.avatar %}
                                <div class="col-md-12">
                                    <p><strong>Аватар:</strong></p>
                                    <img src="{{ user.avatar.url }}" alt="Аватар" class="img-fluid" style="max-width: 150px;">
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'users:profile-edit' %}" class="btn btn-light">Редактировать профиль</a>
                    <a href="{% url 'users:profile-delete' user.pk %}" class="btn btn-danger text-black">Удалить профиль</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}