<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 text-end">
            <aside class="bd-aside sticky-top text-body-white align-self-start mb-3 mb-xl-5 px-2">
                <h2 class="h5 pb-3 mb-1 border-bottom">
                    <a href="{% url 'schedule:schedule-list' %}" class="text-decoration-none text-reset">
                        <strong> Frantsuza bistrot</strong></a>
                </h2>
                <nav class="small" id="toc">
                    <ul class="list-unstyled">
                        <li class="my-2">
                            <button class="btn d-inline-flex align-items-center collapsed border-0"
                                    data-bs-toggle="collapse"
                                    aria-expanded="false" data-bs-target="#contents-collapse"
                                    aria-controls="contents-collapse">
                                <span>Учётная запись</span>
                            </button>
                            <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
                                {% if user.is_authenticated %}
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none"
                                       href="{% url 'users:logout' %}">Выйти</a></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none"
                                       href="{% url 'users:profile' %}">Открыть профиль</a>
                                </li>
                                {% else %}
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none"
                                       href="{% url 'users:login' %}">Войти</a>
                                </li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none"
                                       href="{% url 'users:register' %}">Регистрация</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
<!--                        <li class="my-2">-->
<!--                            <button class="btn d-inline-flex align-items-center collapsed border-0"-->
<!--                                    data-bs-toggle="collapse"-->
<!--                                    aria-expanded="false" data-bs-target="#forms-collapse"-->
<!--                                    aria-controls="forms-collapse">Чаевые-->
<!--                            </button>-->
<!--                            <ul class="list-unstyled ps-3 collapse" id="forms-collapse">-->
<!--                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none"-->
<!--                                       href="">Открыть-->
<!--                                    новый день</a></li>-->
<!--                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none"-->
<!--                                       href="">Посмотреть-->
<!--                                    свои чаевые</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
                        <li class="my-2">
                            <button class="btn d-inline-flex align-items-center collapsed border-0"
                                    data-bs-toggle="collapse"
                                    aria-expanded="false" data-bs-target="#components-collapse"
                                    aria-controls="components-collapse">
                                График
                            </button>
                            <ul class="list-unstyled ps-3 collapse" id="components-collapse">
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none"
                                       href="{% url 'schedule:wish-list' %}"
                                >Мои пожелания</a></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none"
                                       href="{% url 'schedule:schedule-create' %}">
                                    Создать новый график</a></li>
                                <li><a class="d-inline-flex align-items-center rounded text-decoration-none"
                                       href="{% url 'schedule:shift-list' %}">
                                    Список смен</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</div>